{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}
{% if user.is_authenticated %}

<div data-bs-hover-animate="pulse"  class="container emp-profile">

                <div class="row">
                    <div class="col-md-4">
                        <div data-bs-hover-animate="pulse"  class="profile-img">
                            <img src="{{profile.image}}" alt=""/>
                        </div>
                    </div>
                    <div class="col-8 col-md-6">
                        <div class="profile-head">
                                    <h2>
                                        {{user.first_name}} {{user.last_name}}
                                    </h2>
                                    
                                    <h5>
                                        {{profile.title}}
                                    </h5>
                                   
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                       <a href="{% url 'profileform' %}" class="profile-edit-btn btn btn-light">Edit Profile</a>
                    </div>
                </div>
                <br>   
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                        <h3>Skills</h3>
                        <p>{{profile.skills}}</p>
                          
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-3 col-sm-6 col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-9 col-sm-6 col-md-6">
                                                <p>{{user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3 col-sm-6 col-md-6">
                                                <label>Mobile</label>
                                            </div>
                                            <div class="col-9 col-sm-6 col-md-6">
                                                <p>{{profile.mobile}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3 col-sm-6 col-md-6">
                                                <label>Nationality</label>
                                            </div>
                                            <div class="col-9 col-sm-6 col-md-6">
                                                <p>{{profile.nationality}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3 col-sm-6 col-md-6">
                                                <label>State</label>
                                            </div>
                                            <div class="col-9 col-sm-6 col-md-6">
                                                <p>{{profile.state}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <p>{{profile.address}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                         <div class="row">       
                                            <div class="col-md-12">
                                            <h3>References</h3>
                                                <p>{{profile.references}}</p>
                                            </div>
                                        </div>
                            </div>
                          
                                       
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                            <div class="col-md-12">
                                                <h2>Education</h2>
                                                <hr>
                                                {% for education in user_education %}
                                                <ul>
                                                <li>
                                                    <h4><b>{{education.school}}</b><small> from {{education.start}} - {{education.end}}</small></h4>
                                                    <p>{{education.descipline}}</p>
                                                </li>
                                                </ul>
                                                {% endfor %}
                                            </div>
                                        </div>  
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2>Experiences</h2>
                                                <hr>
                                                {% for experience in user_work_experience %}
                                                <ul>
                                                <li>
                                                    <h4><b>{{experience.company}}</b><small> from {{experience.start}} - {{experience.end}}</small></h4>
                                                    <p>{{experience.role}}</p>
                                                    <h6>{{experience.description}}</h6>
                                                    </li>
                                                </ul>
                                                {% endfor %}
                                            </div>
                                        </div>  
                                         <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2>Projects</h2>
                                                <hr>
                                                {% for project in user_projects %}
                                                <ul>
                                                <li>
                                                    <h4><b>{{project.project_name}}</b></h4>
                                                    <h6>{{project.description}}</h6>
                                                    </li>
                                                </ul>
                                                {% endfor %}
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
             </div>           
 </div>
{% else %}
     <div class="register-photo style-signup">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                {% for message in messages %}
                <p style='color: red'>{{message}}</p>
                {% endfor %}
                <div class="form-group"><input class="form-control" type="text" name="first_name" placeholder="First Name" required></div>
                <div class="form-group"><input class="form-control" type="text" name="last_name" placeholder="Last Name"required></div>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" required></div>
                <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" required></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"required></div>
                <div class="form-group"><input class="form-control" type="password" name="password_repeat" placeholder="Password (repeat)" required></div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" data-bs-hover-animate="pulse" type="submit">Sign Up</button></div><a class="already" href="{% url 'login' %}">You already have an account? Login here.</a></form>
        </div>
    </div>
{% endif %}
{% endblock content %}